# INSTRUCTIONS

In [ ]:
def remove_percents(df, col):
    df[col] = df[col].str.replace('%', '')
    return df


def fill_zero_iron(df):
    df['Iron (% DV)'] = df['Iron (% DV)'].fillna(0)
    df = remove_percents(df, 'Iron (% DV)')
    return df
    
def fix_caffeine(df):
    df['Caffeine (mg)'] = df['Caffeine (mg)'].replace(np.NaN, 'abc')  # NaN type was preventing me from parsing for 'varies'
    df['Caffeine (mg)'] = df['Caffeine (mg)'].str.replace('varies', 'abc')
    df['Caffeine (mg)'] = df['Caffeine (mg)'].str.replace('abc', 'NaN')
    return df


def fix_strings(df, col):
    #df[col] = re.sub('[^a-zA-Z]', '' , df[col].to_string())
    df[col] = df[col].str.lower().map(lambda x: re.sub(r'[^a-zA-Z]', '', x))
    return df

def standardize_names(df):
    df = df.rename(str.lower, axis = 'columns')
    df = df.rename(columns = lambda x: re.sub('\(.+\)', '', x))
    return df


def main():
    
    # first, read in the raw data
    df = pd.read_csv('../data/starbucks.csv')
    
    # the columns below represent percent daily value and are stored as strings with a percent sign, e.g. '0%'
    # complete the remove_percents function to remove the percent symbol and convert the columns to a numeric type
    pct_DV = ['Vitamin A (% DV)', 'Vitamin C (% DV)', 'Calcium (% DV)', 'Iron (% DV)']
    for col in pct_DV:
        df = remove_percents(df, col)
    
    # the column 'Iron (% DV)' has missing values when the drink has no iron
    # complete the fill_zero_iron function to fix this
    df = fill_zero_iron(df)

    # the column 'Caffeine (mg)' has some missing values and some 'varies' values
    # complete the fix_caffeine function to deal with these values
    # note: you may choose to fill in the values with the mean/median, or drop those values, etc.
    df = fix_caffeine(df)
    
    # the columns below are string columns... starbucks being starbucks there are some fancy characters and symbols in their names
    # complete the fix_strings function to convert these strings to lowercase and remove non-alphabet characters
    names = ['Beverage_category', 'Beverage']
    for col in names:
        df = fix_strings(df, col)
    
    # the column names in this data are clear but inconsistent
    # complete the standardize_names function to convert all column names to lower case and remove the units (in parentheses)
    df = standardize_names(df)
    
    # now that the data is all clean, save your output to the `data` folder as 'starbucks_clean.csv'
    # you will use this file in checkpoint 2
    
    

if __name__ == "__main__":    # <-- ? whats this for
    main()

# MY CODE

In [31]:
import pandas as pd
import numpy as np
import math
import re

In [32]:
# first, read in the data
sbux = pd.read_csv('../data/starbucks.csv')

In [33]:
sbux.head()

,Beverage_category,Beverage,Beverage_prep,Calories,Total Fat (g),Trans Fat (g),Saturated Fat (g),Sodium (mg),Total Carbohydrates (g),Cholesterol (mg),Dietary Fibre (g),Sugars (g),Protein (g),Vitamin A (% DV),Vitamin C (% DV),Calcium (% DV),Iron (% DV),Caffeine (mg)
0,Coffee,Brewed Coffee,Short,3,0.1,0.0,0.0,0,5,0,0,0,0.3,0%,0%,0%,NaN,175
1,Coffee,Brewed Coffee,Tall,4,0.1,0.0,0.0,0,10,0,0,0,0.5,0%,0%,0%,NaN,260
2,Coffee,Brewed Coffee,Grande,5,0.1,0.0,0.0,0,10,0,0,0,1.0,0%,0%,0%,NaN,330
3,Coffee,Brewed Coffee,Venti,5,0.1,0.0,0.0,0,10,0,0,0,1.0,0%,0%,2%,NaN,410
4,Classic Espresso Drinks,Caffè Latte,Short Nonfat Milk,70,0.1,0.1,0.0,5,75,10,0,9,6.0,10%,0%,20%,NaN,75

In [34]:
# the columns below represent percent daily value and are stored as strings with a percent sign, e.g. '0%'
    # complete the remove_percents function to remove the percent symbol and convert the columns to a numeric type
def remove_percents(df, col):
    df[col] = df[col].str.replace("%", "")
    df[col] = pd.to_numeric(df[col])
    return df
    
pct_DV = ['Vitamin A (% DV)', 'Vitamin C (% DV)', 'Calcium (% DV)', 'Iron (% DV)']
for col in pct_DV:
    sbux = remove_percents(sbux, col)
    
sbux.iloc[:,13:17]

     Vitamin A (% DV)  Vitamin C (% DV)  Calcium (% DV)  Iron (% DV)
0                   0                 0               0          NaN
1                   0                 0               0          NaN
2                   0                 0               0          NaN
3                   0                 0               2          NaN
4                  10                 0              20          NaN
..                ...               ...             ...          ...
237                 6                 8              20         10.0
238                 6                 0              10          NaN
239                 6                 0              10          NaN
240                 4                 0              10          6.0
241                 8                 0              15          NaN

[242 rows x 4 columns]

In [35]:
# the column 'Iron (% DV)' has missing values when the drink has no iron
    # complete the fill_zero_iron function to fix this
def fill_zero_iron(df):
    df['Iron (% DV)'] = df['Iron (% DV)'].fillna('0')
    df = remove_percents(df, 'Iron (% DV)')
    return df

sbux = fill_zero_iron(sbux)
sbux.iloc[:, 13:17]

     Vitamin A (% DV)  Vitamin C (% DV)  Calcium (% DV)  Iron (% DV)
0                   0                 0               0          0.0
1                   0                 0               0          0.0
2                   0                 0               0          0.0
3                   0                 0               2          0.0
4                  10                 0              20          0.0
..                ...               ...             ...          ...
237                 6                 8              20          NaN
238                 6                 0              10          0.0
239                 6                 0              10          0.0
240                 4                 0              10          NaN
241                 8                 0              15          0.0

[242 rows x 4 columns]

In [36]:
# the column 'Caffeine (mg)' has some missing values and some 'varies' values
    # complete the fix_caffeine function to deal with these values
    # note: you may choose to fill in the values with the mean/median, or drop those values, etc.
def fix_caffeine(df):
    df.loc[df['Caffeine (mg)'].notna()] = df.loc[df['Caffeine (mg)'].notna()].replace('varies', np.NaN)
    return df

sbux = fix_caffeine(sbux)

sbux.loc[sbux['Caffeine (mg)'] == 'varies'] # Verify no matches

Empty DataFrame
Columns: [Beverage_category, Beverage, Beverage_prep, Calories, Total Fat (g), Trans Fat (g), Saturated Fat (g),  Sodium (mg), Total Carbohydrates (g), Cholesterol (mg), Dietary Fibre (g), Sugars (g), Protein (g), Vitamin A (% DV), Vitamin C (% DV), Calcium (% DV), Iron (% DV), Caffeine (mg)]
Index: []

In [37]:
# the columns below are string columns... starbucks being starbucks there are some fancy characters and symbols in their names
    # complete the fix_strings function to convert these strings to lowercase and remove non-alphabet characters
def fix_strings(df, col):
    #df[col] = re.sub('[^a-zA-Z]', '' , df[col].to_string())
    df[col] = df[col].str.lower().map(lambda x: re.sub(r'[^a-zA-Z]', '', x))
    return df
    
names = ['Beverage_category', 'Beverage']
for col in names:
    sbux = fix_strings(sbux, col)

In [39]:
# the column names in this data are clear but inconsistent
    # complete the standardize_names function to convert all column names to lower case and remove the units (in parentheses)
def standardize_names(df):
    df = df.rename(str.lower, axis = 'columns')
    df = df.rename(columns = lambda x: re.sub('\(.+\)', '', x.strip()))
    return df
    
sbux = standardize_names(sbux)

sbux.columns

Index(['beverage_category', 'beverage', 'beverage_prep', 'calories',
       'total fat', 'trans fat', 'saturated fat', 'sodium',
       'total carbohydrates', 'cholesterol', 'dietary fibre', 'sugars',
       'protein', 'vitamin a', 'vitamin c', 'calcium', 'iron', 'caffeine'],
      dtype='object')

In [40]:
# Save to csv
sbux.to_csv(r'/Users/jameskim/Desktop/Education/Undergrad/WN21/MDST/mdst_tutorials/data/starbucks_clean.csv')

In [44]:
np.array([1,1,1,np.NaN]).mean()

nan